.navbar-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 20px 60px;
}
.netflix-logo {
  width: 150px;
  height: 55px;
}
.sign-in-button {
  text-decoration: none;
  font-size: large;
  color: white;
  background-color: #d81f26;
  height: 20px;
  padding: 7px 17px;
  border-radius: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .navbar-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 40px;
  }
  .sign-in-button {
    font-size: small;
    padding: 3px 10px;
    border-radius: 3px;
    
  }
  .netflix-logo {
    width: 100px;
    height: 35px;
    
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .navbar-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 40px;
    
  }
  .sign-in-button {
    font-size: small;
    padding: 3px 5px;
    border-radius: 3px;
    
  }
  .netflix-logo {
    width: 100px;
    height: 35px;
    
  }
}
