.login-form-container {
  position: relative;
  height: 800px;
  color: white;
  background-color: black;
  border: 1px solid #313131;
  color: white;
}
.login-form-container::before {
  content: "";
  background-image: url("../images/background.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
.login-form-main-content {
  position: relative;
  max-width: 300px;
  padding: 40px 70px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 100px auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  max-width: 300px;
}
.login-form input {
  padding: 15px 20px;
  border-radius: 3px;
  border: transparent;
  font-size: 15px;
  background: #333;
  color: white;
}
.login-form input:focus {
  outline: none;
}

.login-form .login-form-button {
  padding: 14px 20px;
  margin-top: 30px;
  background-color: red;
  border: transparent;
  font-size: 15px;
  color: white;
  font-weight: 900;
  border-radius: 3px;
  
}
.login-form .login-form-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.login-form-help {
  display: flex;
  justify-content: space-between;
}
.login-form-help .remember-me {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.login-form-help .need-help {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 13px;
}
.login-form-help .need-help:hover {
  text-decoration: underline;
}

.login-form-other-options {
  color: #b3b3b3;
  display: flex;
  font-size: 13px;
  height: 50px;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-between;
}
.login-form-other-options .login-with-facebook a {
  color: #b3b3b3;
  text-decoration: none;
}
.login-form-other-options .signup-now {
  font-size: 16px;
}

.login-form-other-options .signup-now a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.login-form-other-options .signup-now a:hover {
  text-decoration: underline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .login-form-main-content {
    padding: 20px 20px;
    height: 500px;
  }
}
@media only screen and (min-device-height: 800px) {
  .login-form-container {
    height: 900px;
  }
}

@media only screen and (min-device-height: 1000px) {
  .login-form-container {
    height: 1025px;
  }
} 

@media only screen and (min-device-height: 1100px) {
  .login-form-container {
    height: 1200px;
  }
}
