.signup-form-container{
    position: relative;
    height: 800px;
    color: white;
    background-color: black;
    border: 1px solid #313131;
    color:white;
  
  
  
  }
  .signup-form-container::before{
    content: "";
    background-image: url("../images/background.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  
  }
  .signup-form-main-content{
    position: relative;
    max-width: 300px;
    padding:40px 70px;
    height:500px;
    background-color: rgba(0,0,0,.75);
    margin:100px auto;
   
  }
  .signup-form{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height:300px;
    max-width: 300px;
   
  
  }
  .signup-form input{
    padding: 15px 20px;
    border-radius: 3px;
    border:transparent;
    font-size: 15px;
    background:#333;
    color:white;
  
  }
  .signup-form input:focus{
    outline:none;
    
  }
  
  .signup-form .signup-form-button{
    padding:13px 20px;
    margin-top: 30px;
    background-color: red;
    border: transparent;
    font-size: 15px;
    color:white;
    font-weight: 900;
    border-radius: 3px;
  
  }
  .signup-form .signup-form-button:hover{
    cursor: pointer;
    opacity: 0.9;
  }
  .already-have-an-account{
    display:flex;
    align-items:center;
  }
 
  .go-back-to-login-page{
    /* text-decoration: none; */
    color:#0172dc;
    font-size: 15px;
    padding-left: 20px;
  
  }
  .go-back-to-login-page:hover{
    color:#0172dcb0;
    
  }
  
.email-error{
  font-size: 12px;
  color: red;
  opacity: 1;
  margin-top:10px;
  margin-bottom:0px;
}
.password-error{
  font-size: 12px;
  color: red;
  margin-top: 10px;
}

  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .signup-form-main-content{
      
      padding:20px 20px;
      height:500px;
     
     
    }
    
  }
  
  
  